*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{text-decoration: none;}
a:hover{text-decoration: none;}
li{list-style: none;}
html{

}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0 , 168, 255 ,0.3),rgba(0 , 168, 255 ,0.3)) ,url(.././img/img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0,100% 77%,50% 100%,0 75%,0 0);
    position: relative;

}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb  0%,#16c9f6 100%);
}


.navbar::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb  0%,#16c9f6 100%);
}

.nav-item a{
    color: #fff!important;
    font-weight: bold;
}

.header-sec{
    position: relative;
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
}
.center-div{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
}